# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
*/node_modules
*/colorferet
*/out
*/seed
*/accounts
*/public
face-detection-backend/_cache.json
